{
    ApplicationDescription = "Notes that sync, and merge what was written apart";
    ApplicationName = SimpleNotes;
    ApplicationRelease = "1.0";
    NSExecutable = SimpleNotes;
    NSIcon = "SimpleNotes.png";
    NSMainNibFile = "MainMenu.xib";
    NSPrincipalClass = NSApplication;
    NSRole = Application;
}
